html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

*,
*::before,
*::after {
    position: relative;
    box-sizing: inherit;
    font-family: "Montserrat", sans-serif;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
}
