:root {
    --background: #fafafa;

    --color-white: #ffffff;
    --color-light-grey1: #efefef;
    --color-light-grey2: #f3f3f3;
    --color-light-grey3: #b2afb1;
    --color-dark-grey: #4c494b;
    --color-light-blue: #37a9e0;
    --color-brand-green: #30af5f;
} 
